* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #fff;
    background: #20202D;
    margin: 0;
}
.container {
    max-width: 945px;
    width: 90%;
    margin: auto;
}
image {
    width: 100%;
}
.button {
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #2E2E30;
    cursor: pointer;
}
.title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.input {
    width: 100%;
    background: #F8F8F8;
    border: none;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    color: #949494;
    padding: 18px 20px 18px 49px;
    &::placeholder {
        color: #949494;
    }
}