.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
    padding: 135px 0 108px;
    &__title {
        &--margin {
            margin-bottom: 76px;
        }
    }
}
.project {
    &__slide {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 60%;
    }
    &__title {
        flex-basis: 100%;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 41px;
    }
    &__time, &__cost {
        flex-basis: 50%;
        margin-bottom: 44px;
    }
    &__time, &__cost, &__feedback {
        display: flex;
        align-items: flex-start;
    }
    &__icon {
        margin-right: 16px;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        margin: 0 0 7px;
    }
    &__paragraph {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
    }
}
// Pagination
.projects{
    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        &--margin {
            margin-top: 44px;
        }
    }
    &-bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid #FFBB01;
        border-radius: 50%;
        &-active {
            background: #FFBB01;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}